@model PROG7311_Task2.Models.AcmeIncTask2db.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete these users?</h3>
<div>
    <h4>Customer User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFirstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFirstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Previous Page />
    </form>
</div>
