@model PROG7311_Task2.Models.AcmeIncTask2db.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Proid">Edit</a> |
    <a asp-action="Index">Back to Previous Page</a>
</div>
